bin
/JimpleFiles
/sootOutput
ant.settings
build.properties
/build
SourcesAndSinks_for_backward.txt
/reports
/insecureBank/InsecureBank
/Slice_Output
count.txt
out.txt
SourcesAndSinksPairing.txt
*.jimple
*.gv
/SerializationFiles/*.*
*.iCfg
